@font-face {
    font-family: "RobotoThin";
    src: url("./fonts/roboto/Roboto-Thin.woff") format('woff');
}
    
body {
    font-family: RobotoThin;
    overflow: hidden;
    background-color: #FFF;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;  /* rem[ove scrollbar space */
    border-radius: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    /* background-color: #00ACC1 !important; */
    border-radius: 0px;
    background-color: #FFF;
}

.view {
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar {
    overflow-y: scroll;
    height: 100%;
    width: 300px;
    color: #000;
    background-color: #00bfa5;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 99;
}

.sidebar-title {
    text-align: center;
    font-size: 30px;
}

.sidebar-content {
    text-align: center;
    padding: 10px;
}

.form-control {
    border-radius: 10px;
    transition: all .5s;
    border: none;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.form-control:hover, .btn:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
    transition: all .5s;
}

.form-group {
    margin-top: 20px;
}

.btn {
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 100%;
    transition: all .5s;
    border-radius: 10px;
}

.dropdown-menu {
    width: 100%;
    transition: all .5s;
    border-radius: 10px;;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.content {
    height: 100%;
    width: calc(100% - 300px);
    background-color: #FFF;
    position: absolute;
    left: 300px;
    padding: 10px;
    padding-top: 20px;
    z-index: 1;
    overflow-y: scroll;
}

.background {
    position: fixed;
    background-color: #00bfa5;
    top: -200px;
    right: 0;
    left: 275px;
    height: 700px;
    width: 100%;
    z-index: 0;
    transform: rotate(15deg);
}

.divider {
    margin: 0;
}

.note {
    width: 90%;
    background-color: #FFF;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    margin: auto;
    transition: all .5s;
    padding: 10px;
}

.note:hover {
    transition: all .5s;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.note-title {
    font-size: 20px;
    font-weight: 600;
}

.sub-title {
    font-size: 15px;
}

.note-content {
    padding: 10px;
    font-size: 18px;
}

.error { 
    color: red;
    font-size: 25px;
    font-weight: bold;
}