<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src='https://unpkg.com/simple-statistics@7.0.2/dist/simple-statistics.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"></script>
    <title>Vacation Planner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./styles/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

    
</head>


<body ng-app="VacationPlanner" ng-controller="MainController" >
    <div class="view">
        <div class="sidebar">
            <div class="sidebar-title">
                <p>Vacation Planner</p>
            </div>
            <div class="sidebar-content">
                <form>
                    <div class="form-group">
                        <label for="flightDate">Enter Flight Date</label>
                        <input type="date" class="form-control" id="flightDate" placeholder="Enter Flight Date" ng-model="flightDate">
                    </div>
                    <div class="dropdown">
                        <label for="airlineDropdown">Select Airline</label>
                        <button class="btn dropdown-toggle" type="button" id="airlineDropdown" data-toggle="dropdown">
                            {{ airline }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="airlineDropdown">
                            <!-- <a class="dropdown-item" ng-click="selectAirline('something')">Something</a> -->
                            <a class="dropdown-item" ng-repeat="item in airlineList" ng-click="selectAirline(item)">{{ item }}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="originAirport">Enter Origin Airport</label>
                        <input type="text" class="form-control" id="originAirport" placeholder="Enter Origin Aiport" ng-model="origin">
                    </div>
                    <div class="form-group">
                        <label for="destAirport">Enter Destination Airport</label>
                        <input type="text" class="form-control" id="destAirport" placeholder="Enter Destination Aiport" ng-model="dest">
                    </div>
                </form>
                <br>
                <p ng-if="flightDate == null || airline == 'Select Airline' || origin == null || dest == null">Select a Flight Date, Airline, Departure and Arrival Airport</p>
                <button class="btn" type="button" id="search" ng-click="search()" ng-if="flightDate != null && airline != 'Select Airline' && origin != null && dest != null">
                    Search
                </button>
                <br>
                <br>
                <div class="spinner-border text-light" role="status" ng-if="loading == true" style="height: 100px; width: 100px; font-size: 30px; ">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="background"></div>
            <div class="container-fluid" ng-cloak>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="note" ng-repeat="item in delayResults">
                            <div class="note-title">
                                <p>Flight Delay Stats</p>
                                <p class="sub-title">Negative Minutes Indicate Early Departures</p>
                            </div>
                            <hr class='divider'>
                            <div class="note-content">
                                <div class="spinner-border" role="status" ng-if="delayLoading == true" style="height: 100px; width: 100px; font-size: 30px; color: #00bfa5;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p class="error">{{ delayError }}</p>
                                <p>{{ item.totalFlights }}</p>
                                <p>{{ item.totalEarlyFlights }}</p>
                                <p>{{ item.totalDelayFlights }}</p>
                                <p>{{ item.maxDelay }}</p>
                                <p>{{ item.delayMean }}</p>
                                <p>{{ item.delayStd }}</p>
                            </div>
                            <div class="note-title">
                                <p>Flight Delay Probabilities</p>
                                <p class="sub-title">Larger Percentage Is Better</p>
                            </div>
                            <hr class="divider">
                            <div class="note-content">
                                <p>{{ item.probDelay_0 }}</p>
                                <p>{{ item.probDelay_20 }}</p>
                                <p>{{ item.probDelay_40 }}</p>
                            </div>
                            <div class="note-title">
                                <p>Flight Delay Analysis</p>
                            </div>
                            <hr class="divider">
                            <div class="note-content">
                                <p>{{ item.confidence_90 }}</p>
                                <p>{{ item.confidence_95 }}</p>
                                <p>{{ item.confidence_99 }}</p>
                            </div>
                            <div class="note-title">
                                <p>Flight Cancel Stats and Probabilities</p>
                            </div>
                            <hr class="divider">
                            <div class="note-content">
                                <p>{{ item.totalCancels }}</p>
                                <p>{{ item.percentTotal }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="note" ng-repeat="item in fareResults">
                            <div class="note-title">
                                <p>Flight Fare Stats</p>
                            </div>
                            <hr class="divider">
                            <div class="note-content">
                                <div class="spinner-border" role="status" ng-if="fareLoading == true" style="height: 100px; width: 100px; font-size: 30px; color: #00bfa5;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p>{{ item.maxFare }}</p>
                                <p>{{ item.fareMean }}</p>
                                <p>{{ item.fareStd }}</p>
                            </div>
                            <div class="note-title">
                                <p>Flight Fare Probabilities</p>
                            </div>
                            <hr class="divider">
                            <div class="note-content">
                                <p>{{ item.fare_200 }}</p>
                                <p>{{ item.fare_300 }}</p>
                                <p>{{ item.fare_400 }}</p>
                                <p>{{ item.fare_500 }}</p>
                            </div>
                            <div class="note-title">
                                <p>Flight Fare Analysis</p>
                            </div>
                            <hr class="divider">
                            <div class="note-content">
                                <p>{{ item.fareCI_90 }}</p>
                                <p>{{ item.fareCI_95 }}</p>
                                <p>{{ item.fareCI_99 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script ng-if="q1 == true" src="./js/data/Q1_Fares.js"></script>
    <script ng-if="q2 == true" src='./js/data/Q2_Fares.js'></script>
    <script ng-if="q3 == true" src="js/data/Q3_Fares.js"></script>
    <script ng-if="q4 == true" src="js/data/Q4_Fares.js"></script>

    <!-- <script src="js/data/carriers.js"></script> -->

    <script ng-if="Apr == true" src="js/data/Delay_Apr.js"></script>
    <script ng-if="Aug == true" src="js/data/Delay_Aug.js"></script>
    <script ng-if="Dec == true" src="js/data/Delay_Dec.js"></script>
    <script ng-if="Feb == true" src="js/data/Delay_Feb.js"></script>
    <script ng-if="Jan == true" src="js/data/Delay_Jan.js"></script>
    <script ng-if="Jun == true" src="js/data/Delay_Jun.js"></script>
    <script ng-if="Jul == true" src="js/data/Delay_Jul.js"></script>
    <script ng-if="Mar == true" src="js/data/Delay_Mar.js"></script>
    <script ng-if="May == true" src="js/data/Delay_May.js"></script>
    <script ng-if="Nov == true" src="js/data/Delay_Nov.js"></script>
    <script ng-if="Oct == true" src="js/data/Delay_Oct.js"></script>
    <script ng-if="Sep == true" src="js/data/Delay_Sep.js"></script>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script src="js/app.js"></script>

</html>